<!--
Colocar cada linha em um div e nomear uma classe para esses DIVs, de forma que eles sejam exibidos e escondidos de acordo com a escolha feita nos botões do topo da tela
Buscar por observação (ex.: todas linhas que passam no Santos Dumont)

-->
<!DOCTYPE html>
<html>
<head>
	<title>ABM Transporte - Não Oficial</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<div class="fixed-top">
	<div class="container">
		<div class="btn-group" role="group" aria-label="Basic example">
			<img src="./public/abm-logo.png" class="logomarca">
			<button type="button" class="btn btn-secondary btn-success">Origem Barra</button>
			<button type="button" class="btn btn-secondary btn-danger">Destino Barra</button>
			<button type="button" class="btn btn-secondary btn-warning">Circular Barra</button>
			<button type="button" class="btn btn-secondary btn-warning">Circular Shopping</button>
		</div>
	</div>
</div>

<div class="container" id="tabela">
	<div class="table-responsive">
		<table class="table table-sm table-striped table-bordered"> <!--vermelho claro, para colocar no fundo: style="background: #ffcccc"-->
			<thead class="thead-dark ">
				<tr>
					<th scope="col">Núm.</th>
					<th scope="col">Horário</th>
					<th scope="col">Destino</th>
					<th scope="col">Via</th>
					<th scope="col">Obs.</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td id="obs">GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>06:45</td>
					<td>Centro</td>
					<td>Jardim Botânico</td>
					<td>GC</td>
				</tr>
				<tr>
					<th scope="row">1</th>
					<td>06:30</td>
					<td>Centro</td>
					<td>Copacabana</td>
					<td>GC</td>
				</tr>
			</tbody>
		</table>
	</div>
	<a href="https://docs.wixstatic.com/ugd/b1d477_8016c8612ff04ee38f1b107a7fa34dae.pdf" target="_blank">Baixar PDF com os horários dos ônibus da ABM</a>
	<div class="fixed-bottom mx-auto">
		<div class="container">
			<div class="btn-group" role="group" aria-label="Basic example">
				<img src="./public/abm-bus.png" class="onibus">
			</div>
		</div>
	</div>
</div>

<!-- FIREBASE RULES MAN!!!!! GO FIREBASE!! -->
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-app.js"></script>
<!--script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-auth.js"></script-->
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-database.js"></script>
<!--script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-firestore.js"></script-->
<!--script src="https://www.gstatic.com/firebasejs/4.10.1/firebase-messaging.js"></script-->

<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBj6nmGRzOAapzGuioQmfEfVyQCmSlhyUs",
    authDomain: "berttibrazil.firebaseapp.com",
    databaseURL: "https://berttibrazil.firebaseio.com",
    projectId: "berttibrazil",
    storageBucket: "berttibrazil.appspot.com",
    messagingSenderId: "327691322787"
  };
  firebase.initializeApp(config);

  var teste = document.getElementById("obs");
  var dbRef = firebase.database().ref('Pontos');
  dbRef.on("value", snap => teste.innerText = snap.val());



</script>

</body>
</html>