
<% include ./parciais/cabecalho %>
<div class="container" id="tabela">
	<div class="table-responsive">
        <table class="table table-sm table-bordered">
			<thead class="thead-dark ">
				<tr class="sombra">
					<th scope="col">Sigla</th>
					<th scope="col">Significado</th>
				</tr>
			</thead>
            <tbody>
                <% observacoes.forEach(function(observacao){ %>
                    <tr class="azul">
                        <th scope="row" class="align-middle sombra"><%=observacao._id%></th>
                        <td class="text-justify"><%=observacao.texto%></td>
                    </tr>
                <% }); %>
            </tbody>
		</table>
	</div>
<% include ./parciais/rodape %>

