
<% include ./parciais/cabecalho %>
<div class="container" id="tabela">
    <div class="jumbotron">
        <h1 class="display-4">ABM Transporte v1.1</h1>
        <p class="lead">
            09 de maio de 2018
        </p>
        <p>
                <img src="qrcodeabmtransporte.png" class="mx-auto d-block ">
        </p>
        <p class="lead">
            O QR Code acima contém o link para o website do aplicativo, utilize-o para divulgar para um amigo.
        </p>
        <hr class="my-4">
        <p class="lead text-justify">
            Esse sistema está hospedado em um espaço gratuito da nuvem, portanto, pode haver momentos de lentidão e até indisponibilidade. Espero que entendam.
        </p>
        <p class="lead text-justify">
            A coleta de dados para a construção dessa aplicação foi feita através da observação do PDF disponibilizado no site da ABM (versão com vigência a partir de 15/02/2018)
        </p>
        <p class="lead">
            <a href="https://docs.wixstatic.com/ugd/b1d477_8016c8612ff04ee38f1b107a7fa34dae.pdf" target="_blank">Abrir o PDF com os horários dos ônibus da ABM</a>
        </p>
        <hr class="my-4">
        <p class="font-weight-bold text-justify">
            Um pouco sobre o desenvolvedor:
        </p>
        <p class="text-justify">
            Olá! Meu nome é Lucas, sou Analista de Sistemas por formação, graduado pela PUC-Rio, e Gerente de Projetos por especialização. Já trabalhei em empresas do ramo financeiro, telefônico e de energia, além de fábrica de softwares e alguns <spam class="font-italic">freelances</spam>, sempre atuando na área de Tecnologia da Informação. Nesses anos de trabalho, acabei me afastando um pouco da programação em si, apesar dessa ter sido a área que mais me motivou a entrar nesse mundo de TIC, como Gerente de Projetos não há muito tempo para "colocar a mão na massa" programando.
        </p>
        <p class="text-justify">
            Nesses anos de trabalho, acabei me afastando um pouco da programação em si, apesar dessa ter sido a área que me motivou a entrar nesse mundo de TIC. Como Gerente de Projetos não há muito tempo para "colocar a mão na massa" programando.
        </p>
        <p class="text-justify">
            No entanto. há algum tempo voltei a estudar programação, para me inteirar das novas tecnologias. 
        </p>
        <p class="text-justify">
            Para colocar um pouco em prática, resolvi fazer algo que trouxesse alguma facilidade para o meu dia-a-dia, porém, não teria graça fazer algo dedicado a apenas uma pessoa, então pensei em algo que possa contribuir para um conjunto de pessoas, nesse caso, os usuários do transporte da Associação Bosque Marapendi (ABM), afinal, as melhores lembranças dos tempos de programação são aquelas onde eu via dezenas e, no caso da empresa de telefonia, milhares de pessoas utilizando um sistema desenvolvido por mim.
        </p>
        <p class="text-justify">
            Espero que gostem e que traga alguma ajuda ou agilidade para o seu dia-a-dia.
        </p>
        <p class="text-justify">
            Como não estou dedicado a esse sistema, pode ser que demore um pouco para saírem atualizações, porém, terei prazer em ler mensagens, portanto, para entrar em contato, escrevam para: <a href="mailto:lucastic76@gmail.com?subject=Sobre o ABM Transporte v1.0">LucasTIC76@gmail.com</a>
        </p>
        <hr class="my-4">
        <p class="font-weight-bold text-justify">
            <t5>v1.0 (04/05/2018): Lançamento</t5>
            <ul class="text-justify">
                <li>
                    Primeira versão do ABM Transporte.
                </li>
                <li>
                    Exibição das linhas de ônibus segmentada (ida, volta, circular e sábado), cada um com a cor característica, utilizada pela ABM;
                </li>
                <li>
                    Exibição, com popup, das informações sobre cada linha apresentada na listagem;
                </li>
                <li>
                    Exibição das observações sobre o transporte;
                </li>
                <li>
                    Exibição segmentada dos pontos de ônibus;
                </li>
                <li>
                    Página Sobre, falando um pouco da motivação para a criação do app e um pouco sobre o desenvolvedor.
                </li>
            </ul>
            <p class="font-weight-bold text-justify">
                <t5>v1.1 (a partir de 07/05/2018): Tableless (em andamento)</t5>
                <ul class="text-justify">
                    <li>Implementado o conceito tableless para produzir melhoria de visualização em dispositivos móveis.</li>
                </ul>
            </p>
        </p>

    </div>
</div>
<img src="abm-bus.png" class="fixed-bottom rounded mx-auto d-block onibus">
<% include ./parciais/rodape %>

