body {
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: bottom; 
}

#tabela {
	text-align: center;
	padding-top: 56px;
}

.largo100{
	width: 100%;
}

.sombra {
	/*SOMBRA:  deslocamento-x | deslocamento-y | raio-de-desfoque | cor */
	text-shadow: 0px 3px 2px rgba(0,0,0,0.4),
				 0px 6px 4px rgba(0,0,0,0.1),
				 0px 10px 15px  rgba(0,0,0,0.4); 
}
.logomarca {
	width: 130px;
	height: 38px;
	object-fit: contain;
}
.onibus {
    opacity: 0.1;
	align-content: center;
}


.verde:nth-child(odd){
	background-color: rgba(0, 255, 0, 0.3);
	color: rgb(0, 0, 0);
}
.verde:nth-child(even){
	background-color: rgba(0, 255, 0, 0.15);
	color: rgb(0, 0, 0);
}

.vermelho:nth-child(odd){
	background-color: rgba(255, 0, 0, 0.3);
	color: rgb(0, 0, 0);
}
.vermelho:nth-child(even){
	background-color: rgba(255, 0, 0, 0.15);
	color: rgb(0, 0, 0);
}

.verdeSab:nth-child(odd) {
	background-color: rgba(0, 255, 0, 0.3);
	color: rgb(0, 0, 0);
	/*display: none;*/
	
}
.verdeSab:nth-child(even){
	background-color: rgba(0, 255, 0, 0.15);
	color: rgb(0, 0, 0);
}

.vermelhoSab:nth-child(odd){
	background-color: rgba(255, 0, 0, 0.3);
	color: rgb(0, 0, 0);
}
.vermelhoSab:nth-child(even) {
	background-color: rgba(255, 0, 0, 0.15);
	color: rgb(0, 0, 0);
}

.amarelo:nth-child(odd) {
	background-color: rgba(255, 255, 100, 0.7);
	color: rgb(0, 0, 0);
}
.amarelo:nth-child(even) {
	background-color: rgba(255, 255, 100, 0.3);
	color: rgb(0, 0, 0);
}



.azul:nth-child(odd) {
	background-color: #6baff8;
	color: rgb(0, 0, 0);
}
.azul:nth-child(even) {
	background-color: #aad3ff;
	color: rgb(0, 0, 0);
}


.verdeMenu{
	background-color: rgba(0, 255, 0, 0.3);
	color: rgb(0, 0, 0);
}
.vermelhoMenu{
	background-color: rgba(255, 0, 0, 0.3);
	color: rgb(0, 0, 0);
}
.amareloMenu{
	background-color: rgba(255, 255, 100, 0.7);
	color: rgb(0, 0, 0);
}

.carrossel{
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}